.quote-form-label {
    color: #1B1B1B;
    font-weight: 600;
  }
  .quote-form-input {
    width: 40%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: none;
  }
  .quote-btn{
      margin-right: auto;
    margin-left: auto;
    background-color: #1b1b1b;
    color:#D5B964;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 14px;
  }